<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">Welcome to MovieFX Maker</h1>
  </div>
</div>
<div>
  <div class="ui vertical stripe segment">
  <div class="ui text container">
    <p>
      Do you remember watching a movie scene that goes like this? <i>Protagonist inserts a USB, types a URL, and then, voila, a "Downloading virus..." dialog and progress bar appears.</i>
    </p>

    <p>
      If you work with computers you know things are not that easy.
    </p>

    <p>
      But now, thanks to MovieFX Maker, it can actually be that easy!
    </p>

    <p>
      MovieFX Maker is a no-programming-required tool to recreate common FX used in movies.
    </p>

    <p>
      Currently there are two tools available. Click on the links to try them out!
    </p>
  </div>

  <div class="ui text container">
    <p>
      <h3 class="ui header"><a href="screens/processing/new">Processing</a></h3>
    </p>
    <p>
      This is a tool for producing screens with a progress bar and an ominous-sounding text like "Downloading virus..." or "Preparing self-destruct program..."
    <p>
      <%= image_tag asset_path('processing-1.png'), size:"300x46" %>
    </p>
    <p>
      <%= image_tag asset_path('processing-2.png'), size:"300x337" %>
    </p>
  </div>

  <div class="ui text container">
    <p>
      <h3 class="ui header"><a href="screens/access/new">Access</a></h3>
    </p>

    <p>
      This is a tool for producing login screens.
    </p>
    <p>
      <%= image_tag asset_path('access-1.png'), size:"300x194" %>
    </p>
    <p>
      <%= image_tag asset_path('access-2.png'), size:"300x171" %>
    </p>
    <p>
      <%= image_tag asset_path('access-3.png'), size:"300x157" %>
    </p>
  </div>
</div>
