<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header"><%= config[:start_text] %></h1>
      <effects-clock interval="5"/>
    </div>
  </div>
</div>
