<!DOCTYPE html>
<html>
  <head>
    <title>MovieEffects</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%- stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body class="pushable" style="background-color:<%= @bgcolor %>;">
    <%= yield %>
  </body>
</html>
